@media only screen and (min-width: 425px) and (max-width: 992px) {
    .nav li{
        width: 30%;
        margin-left: 0px;
    }
    .intro-myself,.skill{
        padding: 24px 0 10px;
    }
    .education,.experience,.myself{
        margin-bottom: 24px;
    }
    .skill{
        flex-flow: row wrap;
        align-content: flex-start;
    }
    .skill .block{
        flex: 0 0 33.33%;
        padding: 0px 10px 35px;
    }
    .item{
        flex: 0 0 50%;
    }

}


@media only screen and (max-width: 424px) {
    .navbar{
        height:  40px;
    }
    #space-ship {
        left: 74%;
        width: 90px;
        height: 54px;
    }
    #planet0 {
        top: 32px;
        width: 30px;
        height: 30px;
    }
    #earth {
        top: 62px;
        left: 7%;
        width: 101px;
        height: 72px;
    }
    #planet1 {
        background-image: none;
    }
    #planet2 {
        top: 40px;
        left: 24%;
        width: 17px;
        height: 17px;
    }
    #planet3 {
        top: 22px;
        left: 35%;
    }
    #satellite {
        background-image: none;
    }
    #planet4 {
        left: 67%;
    }
    #planet5 {
        background-image: none;
    }
    #planet6 {
        top: 100px;
        width: 20px;
        height: 20px;
    }
    .header .title{
        width: 200px;
        margin:65px auto 25px;
    }
    .title .name{
        padding: 7px;
        font-size: 20px;
    }
    .nav {
        height: 40px;
        padding: 0;
        text-align: center;
        padding-top: 0px;
    }
    .nav li{
        width: 30%;
        margin-left: 0px;
        padding: 2px;
    }
    .container{
        width: 97%;
        padding: 0 10px;
    }
    .intro-myself,.skill{
        padding: 10px 0 10px;
    }
    .intro-myself h3,.skill h3{
        width: 100%;
        font-size: 18px;
    }
    .intro-myself p{
        width: 90%;
        padding: 0 0;
        margin: 0 auto;
        line-height: 24px;
    }
    .skill{
        flex-flow: row wrap;
        align-content: flex-start;
    }
    .skill .block{
        flex: 0 0 50%;
        padding: 0px 6px 35px;
    }
    .item{
        flex: 0 0 100%;
        padding: 10px 5px;
    }
    .itemwrap{
        margin: 0 auto;
        width: 94%;
    }

}